[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
firebase-admin = "*"
twilio = "*"
python-dotenv = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
