{% extends 'base.html' %}

{% block title %}
Work Orders
{% endblock %}

{% block content %}
<div class = "container-fluid justify-content-center" id="orders">
    {% for order in work_orders %}
    {% if work_orders[order]['Assigned'] == name%}
        <div class="row justify-content-center my-5">
            <div class="col-sm-4">
                <div {%if work_orders[order]["done"] == "True" %}class="card bg-success"{%else%}class="card bg-secondary"{%endif%}>
                    <div class="card-body">
                        <ul>
                            <h2 style="display:inline">Work Order: {{order}}</h2>
                            <h3 style="display:inline"></h3>
                        </ul>
                        {% for key, value in work_orders[order].items() %}
                            {% if key != "Work Order " %}
                            <ul>
                                <h4 style="display:inline">{{key}} : </h4>
                                <h4 style="display:inline">{{value}} </h4>
                            </ul>
                            {%endif%}
                        {% endfor %}
                        <ul>
                            <form action="{{ url_for('worker.finish', id=order, Name=name) }}" method = "post">
                                {%if work_orders[order]["done"] == "True" %}
                                <input class="btn btn-primary" type="submit" id='script' name="submit" value="Work Order Completed" disabled>
                                {%else%}
                                <input class="btn btn-primary" type="submit" id='script' name="submit" value="Complete Work Order">
                                {%endif%}
                                
                            </form>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div> 
{% endblock %}