{% extends 'base.html' %}

{% block title %}
Dashboards
{% endblock %}

{% block content %}
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button bg-light">
  <div class="container">

    <img src="../static/assets/logo.png" class="logo-img" href="{{ url_for('dash.home') }}"/>
    <button data-bs-toggle="collapse" data-bs-target="#navcol-1" class="navbar-toggler">
      <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon">

      </span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav me-auto">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('dash.home') }}">Dashboard</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('dash.add_order') }}">Add Work Order</a></li>
          </ul>
      </div>
  </div>
</nav>
<div class="container">
  {% block subcontent %}{%endblock%}
</div>


{% endblock %}