{% extends 'dashboard/dashboard.html' %}

{% block subcontent %}
<div class="card my-3 ">
    <div class="card-body">
        <h4 class="card-title">In-Progress Work Orders</h4>
        <div class="table-responsive text-nowrap table-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Technician</th>
                        <th>Facility ID</th>
                        <th>Equipment Type</th>
                        <th>Equipment ID</th>
                        <th>Priority</th>
                        <th>Time Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in work_orders %}
                    {% if work_orders[order]["inProgress"] == "True" and work_orders[order]["done"] == "False" %}
                    <tr>
                        <td>{{order}}</td>
                        <td>{{ work_orders[order]["Assigned"] }}</td>
                        <td>{{ work_orders[order]["Facility"] }}</td>
                        <td>{{work_orders[order]["Equipment Type"]}}</td>
                        <td>{{work_orders[order]["Equipment ID"]}}</td>
                        <td>{{work_orders[order]["Priority(1-5)"]}}</td>
                        <td>{{work_orders[order]["Submission Timestamp"]}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Unassigned Work Orders</h4>
        <div class="table-responsive text-nowrap table-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Facility ID</th>
                        <th>Equipment Type</th>
                        <th>Equipment ID</th>
                        <th>Priority</th>
                        <th>Time Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in work_orders %}
                    {% if work_orders[order]["inProgress"] == "False" and work_orders[order]["done"] == "False" %}
                    <tr>
                        <td>{{order}}</td>
                        <td>{{ work_orders[order]["Facility"] }}</td>
                        <td>{{work_orders[order]["Equipment Type"]}}</td>
                        <td>{{work_orders[order]["Equipment ID"]}}</td>
                        <td>{{work_orders[order]["Priority(1-5)"]}}</td>
                        <td>{{work_orders[order]["Submission Timestamp"]}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card my-3 ">
    <div class="card-body">
        <h4 class="card-title">Completed Work Orders</h4>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Technician</th>
                        <th>Facility ID</th>
                        <th>Equipment Type</th>
                        <th>Equipment ID</th>
                        <th>Priority</th>
                        <th>Time Completed</th>
                        <th>Time Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in work_orders %}
                    {% if work_orders[order]["done"] == "True" %}
                    <tr>
                        <td>{{order}}</td>
                        <td>{{ work_orders[order]["Assigned"] }}</td>
                        <td>{{ work_orders[order]["Facility"] }}</td>
                        <td>{{work_orders[order]["Equipment Type"]}}</td>
                        <td>{{work_orders[order]["Equipment ID"]}}</td>
                        <td>{{work_orders[order]["Priority(1-5)"]}}</td>
                        <td>{{work_orders[order]["Completion Timestamp"]}}</td>
                        <td>{{work_orders[order]["Submission Timestamp"]}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}